.field_with_errors {
    display: inline-block;
    label {
        color: red;
    }
    input[type="text"] {
        border: 1px solid red;
    }
}

.wrong_message {
    width: 240px;
    font-size: 20px;
    background-color: red;
    color: #fff;
    line-height: 50px;
}